server:
  port: 8080

spring:
  application:
    name: ead-api-gateway
  cloud:
    gateway:
      routes:
        - id: authuser-service
          uri: http://localhost:8087
          predicates:
            - Path=/ead-authuser/**
        - id: course-service
          uri: http://localhost:8082
          predicates:
            - Path=/ead-course/**
logging:
  level:
    org.springframework.cloud.gateway: DEBUG


eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka
  instance:
    hostname: localhost

